#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

body{
    background-image: url("https://img.freepik.com/free-vector/hand-drawn-abstract-doodle-background_23-2149331176.jpg?w=2000");
    background-size: cover;

}

#h1{
    color:black;
    font-weight: bold; 
}

#logo_img{
    border-radius: 5px;
}